[listen]
api = "0.0.0.0:3302"
publish = "0.0.0.0:3303"

[api]
#disable or not api service
disable = false
#access api token
token = "guest"

[publish]
#these http headers will be ignored when access to consumer's url
#Headers : "User-Agent Token RouteKey Host Expect Accept-Encoding  Content-Length Connection"  will be ignored by force
IgnoreHeaders = []
#the publisher's real ip will be set in this http header when access to consumer's url
RealIpHeader = "X-Forwarded-For"

[consume]
#access consumer url  fail and then how many seconds to sleep and retry
FailWait = 50
#consumer's goroutine occur error and then how many seconds to sleep and retry
GoFailWait = 3
DataFile = "message.json"

[rabbitmq]
host = "127.0.0.1"
port = 5672
username = "guest"
password = "guest"
vhost = "/"
#the queue and exchange default prefix
prefix = "wmq."

[log]
#which level log to file,default:["info","error","debug"]
level = ["info","error","debug"]
dir = "log"
#log file max size(bytes) for rotate
FileMaxSize = 102400000
#log file max count for rotate to remain
MaxCount = 3
#access log on or off
access = true
#log post data on or off
post = false


